# Go build outputs
*.exe
*.out
*.test

# OS files
.DS_Store
Thumbs.db

# Editor files
.vscode/
practice on go
.idea/
.vscode/extensions.json
.vscode/launch.json
.vscode/settings.json
.idea/.gitignore
.idea/GO.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml


# .gitignore

# Binaries & Executables
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/

# Package & cache folders
pkg/
octo-go-learning.code-workspace
./octo-go-learning.code-workspace